@model Category

@*Phải dùng section cho cả giao diện này luôn tại khi render trong layout là giao diện nào cũng phải dùng hết*@
@section title {
    <h3>Add Category</h3>
}

<partial name="_Category" model="@Model" />