@using Supermarket.Models @*Import Models vào để dùng lớp Category*@
@model Category

@*Phải dùng section cho cả giao diện này luôn tại khi render trong layout là giao diện nào cũng phải dùng hết*@
@section title{
    <h3>Category: @Model.CategoryId</h3>
}
